/* 古事記表紙 */

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14pt;
	background: linear-gradient(left, rgb(240,240,240), white);
	background:-webkit-gradient(linear, left top, left bottom, from(rgb(240,240,240)), to(white)); 
}
h1 {
	font-weight: bold;
	text-shadow: 2pt 2pt 2pt rgb(160,160,160);	
}
h2 {
	margin-top: 2em;
	margin-right: 15%;
	-webkit-writing-mode:vertical-rl;
	-ms-writing-mode:tb-rl;
	-o-writing-mode:vertical-rl;
	writing-mode:vertical-rl;
	direction:ltr;
	float: right;
}
ul {
	margin-top: 2em;
	list-style-type:none;
	line-height: 3em;
	font-size: 18pt;
	-webkit-writing-mode:vertical-rl;
	-ms-writing-mode:tb-rl;
	-o-writing-mode:vertical-rl;
	writing-mode:vertical-rl;
	direction:ltr;
	float: right;
}
p {
	padding: 1em;
}
a:link {
	color: rgb(128,128,128);
	text-decoration: none;
}
a:visited {
	color: rgb(128,128,128);
	text-decoration: none;
}
.warning {
	width: 80%;
	margin-left: 10%;
	margin-top: 2em;
	border: 1px solid rgb(128,128,128);
	border-radius: 1em;
}
.desc {
	font-size: 12pt;
	text-align:right
}
.license {
	font-size: 12pt;
	margin-left: 5em;
	text-align: center;
}
